[Unit]
Description=Network Blacklist Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/blacklist_monitor/api/main.py
WorkingDirectory=/opt/blacklist_monitor
Restart=on-failure
StandardOutput=file:/var/log/blacklist_module/systemd_stdout.log
StandardError=file:/var/log/blacklist_module/systemd_stderr.log

[Install]
WantedBy=multi-user.target